body {
  font-family: 'Segoe UI', sans-serif;
  background: url(../img/background.png) #393C5E;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -20px -10px;
  color: #f0f0f0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main{
  text-align: center;
  background-color: #393c5e80;
  padding: 15px 50px;
  border-radius: 10%;
}

#status {
  text-align: center;
  margin-bottom: 20px;
}

#status p {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}
#campoJogo{
  background-color: #393C5E;
  width: fit-content;
  margin: 0 auto;
}
.row {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.slot {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-color: #4e4b7b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  margin: 2px;
  border: 2px solid transparent;
}

.slot:hover {
  background-color: #6c66a1;
  transform: scale(1.05);
}

.slotsVencedores{
  background-color: #636094;
  border: 2px solid rgb(18, 207, 119);
}

.icone {
  width: 60px;
  height: 60px;
}

button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #5b598d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #6c66a1;
  transform: scale(1.05);
}
button:disabled{
  color: rgb(168, 165, 175);
  background-color: #464569;
}
button:disabled:hover{
  transform: none;
}

#pontuacao {
  font-size: 24px;
  font-weight: 700;
  color: #ffcd00;
  margin-top: 10px;
}

#quemJoga {
  font-size: 20px;
  margin-bottom: 12px;
  color: #ffcd00;
  font-weight: 500;
  opacity: calc(0);
}
